body .container > header {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
}

body .container > header nav {
    display: flex;
    justify-content: center;
}

body .container > header nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    background-color: var(--base-0);
    padding: .75rem 1.5rem;
    border-radius: 100rem;
}

body .container > header nav a {
    position: relative;
}

body .container > header nav a.selected::before {
    content: "•";
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    transform: translateX(-50%);
}

body .container > header nav a.ticket.selected::before {
    bottom: -0.25rem;
    content: "•";
    color: var(--base-0);
}

body .container > header nav a {
    color: var(--base-950);
}

body .container > header nav a.ticket {
    padding: .25rem 2rem;
    color: var(--base-0);
    border-radius: 100rem;
    background-color: var(--primary-600);
}